body *{
	color: #423737;
}
header{
	height: 10rem;
}
.md-button.md-fab {
  line-height: 5.6rem;
  min-width: 0;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
}

.slider {
	overflow-y: hidden;
	max-height: 0px; /* approximate max height */

	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.slider.opened {
	max-height: 500px;
}

.open-post{
	cursor: pointer;
}
md-content{
	min-height: 1000px;
}
md-card{
	margin: 0 0;
}
md-card.post:nth-child(1){
	background-color: #E65100;
}
md-card.post:nth-child(2){
	background-color: #FF6F00;
}
md-card.post:nth-child(3){
	background-color: #F57F17;
}
md-card.post:nth-child(4){
	background-color: #F9A825;
}
md-card.post:nth-child(5){
	background-color: #FBC02D;
}
md-card.post:nth-child(6){
	background-color: #FDD835;
}
md-card.post:nth-child(7){
	background-color: #FFEB3B;
}
md-card.post:nth-child(8){
	background-color: #FFEE58;
}
md-card.post:nth-child(9){
	background-color: #FFF176;
}
md-card.post:nth-child(10){
	background-color: #FFF59D;
}
md-card.post:nth-child(11){
	background-color: #FFF9C4;
}
md-card.post:nth-child(12){
	background-color: #FFFDE7;
}
md-card.post:nth-child(n+12){
	background-color: white;
}


